body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}
#menu{
    width: 100%;
    height: 20vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}
#content{
    width: 100%;
    height: 80vh;

}
ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#loginForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    padding: 10px;
}